.container {
  padding: 0 1rem;
  width: 100%;
}

.container__page {
  padding-block-start: 7rem;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  color: #3A7168;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.titleSection {
  flex-basis: 100%;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.gridFeatured {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-block-start: 4rem;
  justify-items: center;
  gap: 1rem;
}

.latestEpisode {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.latestEpisode .title {
  font-size: 3rem;
  color: #F26522;
}

.latestEpisode .title:hover {
  color: #3A7168;
}

.underwriting {
  display: flex;
  justify-content: center;
  margin-block-start: 4rem;
  max-width: 100%;
}

.card {
  background-color: white;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: #F26522;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #3A7168;
  border-color: #3A7168;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.episodes {
  border-block-start: 2px solid #3A7168;
  padding-block-end: 0;
  color: #F26522;
  background-color: #D4F4ED;
}

.episodes h1 {
  color: #3A7168;
  font-size: 3rem;
  flex-basis: 100%;
  text-align: center;
}

.publishedDate {
  color: black;
  margin: 1rem;
  font-size: 0.5rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.grid {
  margin-block: 4rem;
  display: flex;
  flex-wrap: wrap;
  background-color: #D4F4ED;
  justify-content: space-evenly;
  border-block-start: 2px solid #3A7168;
}

.gridSection {
  background-color: rgba(0, 0, 0, 0);
  border-block-start: 0;
}

.grid h1 {
  color: #3A7168;
  font-size: 3rem;
  flex-basis: 100%;
  text-align: center
}

.grid .card {
  flex: 1;
  min-width: 300px;
  min-height: 200px;
  margin-inline: 0;
  margin-block: 20px;
}

@media (min-width: 992px) {
  .container {
    padding: 6rem 4rem;
  }

  .gridFeatured {
    grid-template: 1fr / 2fr 1fr;
    margin-block-start: 4rem;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }

}